<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.kazejiyu.discord.rpc.integration.ui.preferences.DiscordIntegrationPreferencesPage"
            id="fr.kazejiyu.discord.rpc.integration.ui.preferences.root"
            name="Discord Rich Presence">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="fr.kazejiyu.discord.rpc.integration.ui.preferences.properties.ProjectPropertiesPage"
            id="fr.kazejiyu.discord.rpc.integration.ui.preferences.properties.projectPropertiesPage"
            name="Discord Rich Presence"
            selectionFilter="single">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
</plugin>
