<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.kazejiyu.discord.rpc.integration.ui.preferences.DiscordIntegrationPreferences"
            id="fr.kazejiyu.discord.rpc.integration.ui.preferences.root"
            name="Discord Integration">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="fr.kazejiyu.discord.rpc.integration.ui.preferences.DiscordIntegrationPreferencesInitializer">
      </initializer>
   </extension>
</plugin>
